@model Car.Model.Entity.CarDetailModel

@{
    var userId = @Model.UserId;
    var carId = @Model.CarId;
    var imagesPath = "/Images/Cars_" + userId + "_" + carId;
}

<div id="car_detail_slide">
    <div id="car_detail_carousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#car_detail_carousel" data-slide-to="0" class="active"></li>
            <li data-target="#car_detail_carousel" data-slide-to="1"></li>
            <li data-target="#car_detail_carousel" data-slide-to="2"></li>
            <li data-target="#car_detail_carousel" data-slide-to="3"></li>
            <li data-target="#car_detail_carousel" data-slide-to="4"></li>
            <li data-target="#car_detail_carousel" data-slide-to="5"></li>
            <li data-target="#car_detail_carousel" data-slide-to="6"></li>
            <li data-target="#car_detail_carousel" data-slide-to="7"></li>
            <li data-target="#car_detail_carousel" data-slide-to="8"></li>
            <li data-target="#car_detail_carousel" data-slide-to="9"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            @if (System.IO.Directory.Exists(Server.MapPath(imagesPath)))
            {
                var images = Directory.GetFiles(Server.MapPath(imagesPath), "*.jpg");
                if(images.Count() > 0)
                { 
                    foreach (var imgPath in Directory.GetFiles(Server.MapPath(imagesPath), "*.jpg"))
                    {
                        var img = new FileInfo(imgPath);
                        if (img.Name.Equals("1.jpg"))
                        {
                            <div class="item active">
                                <img src="@Url.Content(String.Format(imagesPath + "/{0}", img.Name))" />
                            </div>
                        }
                        else
                        {
                            <div class="item">
                                <img src="@Url.Content(String.Format(imagesPath + "/{0}", img.Name))" />
                            </div>
                        }
                    }
                }
                else
                {
                    <div class="item active">
                        <img src="@Url.Content(String.Format("/Images/noimage.gif"))" />
                    </div>
                }
            }
            else
            {
                <div class="item active">
                    <img src="@Url.Content(String.Format("/Images/noimage.gif"))" />
                </div>
            }
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#car_detail_carousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#car_detail_carousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<div id="img-section">

    <div class="car-detail-section">
        <span>
            @if (System.IO.Directory.Exists(Server.MapPath(imagesPath)))
            {
                var index = 0;
                foreach (var imgPath in Directory.GetFiles(Server.MapPath(imagesPath), "*.jpg"))
                {
                    var img = new FileInfo(imgPath);
                    <a href="javascript:void(@index)">
                        <img onclick="change_img(@index);" src="@Url.Content(String.Format(imagesPath + "/{0}", img.Name))" />
                    </a>

                    index++;
                }
            }
            else
            {
                <a href="javascript:void(0)">                    
                    <img src="@Url.Content(String.Format("/Images/noimage.gif"))" />
                </a>
            }
        </span>
    </div>

    @{ Html.RenderPartial("~/Views/Car/CarDetailInfo.cshtml", Model); }
    
</div>