@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{

}
@model Car.Model.Entity.CarViewModel

@{ Html.RenderPartial("~/Views/Shared/DeviceId.cshtml", Model); }  

<div id="div_car_detail" class="car_list_box">

    @{ Html.RenderPartial("~/Views/Shared/SearchingCriteria.cshtml", Model); }    

    <div class="car-item-all row-car">

        <div class="car-detail">

            @{ Html.RenderPartial("~/Views/Car/CarDetailImages.cshtml", Model); }

        </div>

        <div class="car-detail">
            <div class="car-detail-section title">
                <b>@Model.Title</b>
            </div>

            <div class="car-detail-section desc">
                @if (!string.IsNullOrEmpty(Model.Description))
                {
                    @Model.Description.Replace("&lt;br /&gt;", "<br />");
                }
            </div>
                        
        </div>

        <div id="div_car_detail_info" class="car-detail">

            <div class="div-car-tab float-none">
                <ul class="ul-car-tab">
                    <li id="car_detail_info_basic_tab" class="tabactive"><a href="javascript:void(null);" title="Thông số cơ bản">Thông số cơ bản</a></li>
                    <li id="car_detail_info_technical_tab" class=""><a href="javascript:void(null);" title="Thông số kỹ thuật">Thông số kỹ thuật</a></li>
                </ul>
            </div>


            <div id="car_detail_info_basic">

                <div class="car-detail-section info">
                    <div class="row">
                        <label class="car-label-detail"> Tình trạng </label>
                        <span>:&nbsp;@Model.IsNew (@Model.Year)</span>
                    </div>
                    <div class="row">
                        <label class="car-label-detail">Xuất xứ</label>
                        <span>:&nbsp;@Model.IsImport</span>
                    </div>
                    <div class="row">
                        <label class="car-label-detail">Dòng xe</label>
                        <span>:&nbsp;@Model.Type</span>
                    </div>
                    <div class="row">
                        <label class="car-label-detail">Hộp số</label>
                        <span>:&nbsp;@Model.GearBox</span>
                    </div>
                    <div class="row">
                        <label class="car-label-detail">Số Km đã đi</label>
                        <span>:&nbsp;@Model.Km km</span>
                    </div>
                </div>

                <div class="car-detail-section info">
                    <div class="row">
                        <label class="car-label-detail">Số cửa</label>
                        <span>:&nbsp;@Model.GateNo cửa</span>
                    </div>
                    <div class="row">
                        <label class="car-label-detail">Số chỗ ngồi</label>
                        <span>:&nbsp;@Model.SeatNo chỗ</span>
                    </div>
                    <div class="row">
                        <label class="car-label-detail">Màu ngoại thất</label>
                        <span>:&nbsp;@Model.ExteriorColor</span>
                    </div>
                    <div class="row">
                        <label class="car-label-detail">Màu nội thất</label>
                        <span>:&nbsp;@Model.InteriorColor</span>
                    </div>
                    <div class="row">
                        <label class="car-label-detail">Tiêu thụ nhiên liệu</label>
                        <span>:&nbsp;@Model.FuelConsumption lít/100km</span>
                    </div>
                </div>

            </div>

            <div id="car_detail_info_technical" style="display:none">

                <div class="car-detail-section info">
                    <div class="row">
                        <label class="car-label-detail"> Nhiên liệu</label>
                        <span>:&nbsp;@Model.Fuel</span>
                    </div>
                    <div class="row">
                        <label class="car-label-detail">Hệ thống nạp nhiên liệu</label>
                        <span>:&nbsp;@Model.FuelSystem</span>
                    </div>

                    <div class="row">
                        <label class="car-label-detail">Dẫn động</label>
                        <span>:&nbsp;@Model.WheelDrive</span>
                    </div>                    
                    <div class="row">
                        <label class="car-label-detail">Dung tích bình nhiên liệu</label>
                        <span>:&nbsp; (lít)</span>
                    </div>
                </div>

                <div class="car-detail-section info">
                    <div class="row">
                        <label class="car-label-detail">Động cơ</label>
                        <span>:&nbsp;</span>
                    </div>
                    <div class="row">
                        <label class="car-label-detail">Kiệu động cơ</label>
                        <span>:&nbsp;</span>
                    </div>

                    <div class="row">
                        <label class="car-label-detail">Dung tích xi lanh</label>
                        <span>:&nbsp;</span>
                    </div>
                    
                </div>

            </div>
        </div>

    </div>

</div>  

@*<div id="car_detai_banner">
    <a target="_blank" href="http://www.hoanggiamobile.com"><img src=""></a>
</div>*@

<div id="div_car_detail_similar" class="div-car-tab">
    <ul class="ul-car-tab">
        <li id="car_similar_model" class="tabactive"><a href="javascript:void(null);" title="Các xe khác cùng model">Các xe khác cùng model</a></li>
        <li id="car_similar_price" class=""><a href="javascript:void(null);" title="Các xe khác có mức giá xấp xỉ (± 10%)">Các xe khác có mức giá xấp xỉ (± 10%)</a></li>
    </ul>
</div>

<div class="grid-container">
    <div id="gridCarSimilarModel" class="freegrid"></div>
    <div id="gridCarSimilarPrice" class="freegrid"></div>
</div>

<script>
    var carDetailId = '@Model.CarId' 
    var carDetailModel ='@Model.Model'
    var carDetailPrice = '@Model.CurrencyVN'
</script>

@section Scripts
{
    <script src="~/Content/scripts/CarDetail.js"></script>
    <script src="~/Content/scripts/SearchingCar.js"></script>
    <script>        
        $("#currencyVNdetail").html(common.ShowVietnameseCurrency(@Model.CurrencyVN));
    </script>    
}

