
<div class="car-detail-section">
    <div class="car-price">
        <div id="currencyVNdetail"></div>
    </div>
    <div class="car-location">
        <a href="/firm/@Model.Firm/@Model.Province">@Model.Province</a>
    </div>
    <div class="car-contact-user">
        <a href="/car/member/@Model.UserId">@Model.ContactName</a>
    </div>
    <div class="car-contact-tel">
        @Model.ContactTel
    </div>
    <div class="car-contact-address">
        @Model.Address
    </div>

</div>

<div class="car-detail-section">
    <div class="car-contact-code">
        Mã tin: @Model.Code
    </div>
    <div class="car-contact-date">
        Ngày đăng: @Model.CreatedDate
    </div>
    <div class="car-contact-view">
        Luợt xem: <span id="countvisit">@Model.CountVisit</span>
    </div>
</div>
