@model Car.Model.Entity.CarHireEntity

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Đăng tin cho thuê xe";
}

@section Styles{

    <link href="~/Content/css/ajax/ajax-loader.css" rel="stylesheet" />

}

<h2 class="title">&nbsp;&nbsp;@ViewBag.Title</h2>
<hr />
<br />

@Html.AntiForgeryToken()

@Html.ValidationSummary(true)

<div id="divCarInsert" class="uploadCar">

    <div class="form-horizontal car-insert-description">
        @Html.LabelFor(model => model.Title, new { @class = "control-label" })
        @Html.EditorFor(model => model.Title)
        @Html.ValidationMessageFor(model => model.Title)
    </div>

    <div class="form-horizontal car-insert">

        <div class="form-group">
            @Html.LabelFor(model => model.Firm, new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Firm)
                @Html.ValidationMessageFor(model => model.Firm)

                <select id="carInsert_select_firm">
                    <option value="Acura" selected>Acura</option>
                    <option value="Audi">Audi</option>
                    <option value="Asia">Asia</option>
                    <option value="Aston Martin">Aston Martin</option>
                    <option value="AlfaRomeo">Alfa Romeo</option>
                    <option value="BMW">BMW</option>
                    <option value="Baic">Baic</option>
                    <option value="Bentley">Bentley</option>
                    <option value="Buick">Buick</option>
                    <option value="BYD">BYD</option>
                    <option value="Chevrolet">Chevrolet</option>
                    <option value="Cadillac">Cadillac</option>
                    <option value="Changan">Changan</option>
                    <option value="Chery">Chery</option>
                    <option value="Citroen">Citroen</option>
                    <option value="Daewoo">Daewoo</option>
                    <option value="Daihatsu">Daihatsu</option>
                    <option value="Dodge">Dodge</option>
                    <option value="Fiat">Fiat</option>
                    <option value="Ford">Ford</option>
                    <option value="Ferrari">Ferrari</option>
                    <option value="Fuso">Fuso</option>
                    <option value="Gaz">Gaz</option>
                    <option value="Geely">Geely</option>
                    <option value="GMC">GMC</option>
                    <option value="Honda">Honda</option>
                    <option value="Hyundai">Hyundai</option>
                    <option value="Haima">Haima</option>
                    <option value="Hino">Hino</option>
                    <option value="Hummer">Hummer</option>
                    <option value="Isuzu">Isuzu</option>
                    <option value="Kia">Kia</option>
                    <option value="LandRover">LandRover</option>
                    <option value="Lexus">Lexus</option>
                    <option value="Mazda">Mazda</option>
                    <option value="MercedesBenz">Mercedes Benz</option>
                    <option value="Mitsubishi">Mitsubishi</option>
                    <option value="Nissan">Nissan</option>
                    <option value="Peugeot">Peugeot</option>
                    <option value="Porsche">Porsche</option>m
                    <option value="Renault">Renault</option>
                    <option value="Ssangyong">Ssangyong</option>
                    <option value="Suzuki">Suzuki</option>
                    <option value="Infiniti">Infiniti</option>
                    <option value="Jaguar">Jaguar</option>
                    <option value="Jeep">Jeep</option>
                    <option value="Lada">Lada</option>
                    <option value="Lamborghini">Lamborghini</option>
                    <option value="Lifan">Lifan</option>
                    <option value="Lincoln">Lincoln</option>
                    <option value="Luxgen">Luxgen</option>
                    <option value="Man">Man</option>
                    <option value="Maserati">Maserati</option>
                    <option value="Maybach">Maybach</option>
                    <option value="Mekong">Mekong</option>
                    <option value="Mercury">Mercury</option>
                    <option value="MG">MG</option>
                    <option value="Mini">Mini</option>
                    <option value="Opel">Opel</option>
                    <option value="Pontiac">Pontiac</option>
                    <option value="Proton">Proton</option>
                    <option value="RollsRoyce">Rolls Royce</option>
                    <option value="Rover">Rover</option>
                    <option value="Samsung">Samsung</option>
                    <option value="Scion">Scion</option>
                    <option value="Smart">Smart</option>
                    <option value="Subaru">Subaru</option>
                    <option value="SYM">SYM</option>
                    <option value="Tesla">Tesla</option>
                    <option value="Thaco">Thaco</option>
                    <option value="Toyota">Toyota</option>
                    <option value="Volkswagen">Volkswagen</option>
                    <option value="Vinaxuki">Vinaxuki</option>
                    <option value="Volvo">Volvo</option>
                    <option value="Zotye">Zotye</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Model, new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Model)
                @Html.ValidationMessageFor(model => model.Model)

                <select id="carInsert_select_model"></select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsNew, new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.IsNew)
                @Html.ValidationMessageFor(model => model.IsNew)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsImport, new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.IsImport)
                @Html.ValidationMessageFor(model => model.IsImport)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GearBox, new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.GearBox)
                @Html.ValidationMessageFor(model => model.GearBox)

                <select id="carInsert_select_GearBox"></select>
                <select id="GearBoxNumber"></select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TypeId, new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.TypeId)
                @Html.ValidationMessageFor(model => model.TypeId)

                <select id="carInsert_select_type"></select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CurrencyVN, new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.CurrencyVN)
                @Html.ValidationMessageFor(model => model.CurrencyVN)

                <input type="text" id="carInsert_select_CurrencyVN" maxlength="5">
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Year, new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Year)
                @Html.ValidationMessageFor(model => model.Year)

                <select id="carInsert_select_year"></select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Km, new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Km)
                @Html.ValidationMessageFor(model => model.Km)
            </div>
        </div>

    </div>

    <div class="form-horizontal car-insert">

        <div class="form-group">
            @Html.LabelFor(model => model.ProvinceId, new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.ProvinceId)
                @Html.ValidationMessageFor(model => model.ProvinceId)

                <select id="carInsert_select_province"></select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SeatNo, new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.SeatNo)
                @Html.ValidationMessageFor(model => model.SeatNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GateNo, new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.GateNo)
                @Html.ValidationMessageFor(model => model.GateNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ExteriorColorId, new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.ExteriorColorId)
                @Html.ValidationMessageFor(model => model.ExteriorColorId)

                <select id="carInsert_select_exterior_color"></select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InteriorColorId, new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.InteriorColorId)
                @Html.ValidationMessageFor(model => model.InteriorColorId)

                <select id="carInsert_select_interior_color"></select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FuelConsumption, new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.FuelConsumption)
                @Html.ValidationMessageFor(model => model.FuelConsumption)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FuelId, new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.FuelId)
                @Html.ValidationMessageFor(model => model.FuelId)

                <select id="carInsert_select_Fuel"></select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FuelSystem, new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.FuelSystem)
                @Html.ValidationMessageFor(model => model.FuelSystem)

                <select id="carInsert_select_FuelSystem"></select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WheelDriveId, new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.WheelDriveId)
                @Html.ValidationMessageFor(model => model.WheelDriveId)

                <select id="carInsert_select_WheelDrive"></select>
            </div>
        </div>

    </div>

    <div class="form-horizontal car-insert-description">
        @Html.LabelFor(model => model.Description, new { @class = "control-label" })
        <div>
            @Html.TextAreaFor(model => model.Description, new { cols = 25, row = 10 })
            @Html.ValidationMessageFor(model => model.Description)
        </div>
    </div>

    <div style="margin-left:10px;">
        <div class="images">
            @{ Html.RenderPartial("~/Views/Shared/UploadFiles.cshtml", null); }
        </div>

        <br />

        <div class="ajax-loader">
            <img src="~/Content/images/common/ajax-loader.gif" class="img-responsive" />
        </div>

        <button type="submit" id="uploadCarHire" class="btn btn-primary btn-lg">Đăng tin</button>
        <br />
        <br />
        @Html.ActionLink("Trở về trang chủ", "Home/Index")
    </div>
   
</div>

@section Scripts
{        
    @Scripts.Render("~/bundles/add_car")
    <script>
        handler.showResultSearching();
    </script>

}

