@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{

}

@model Car.Model.Criteria.CarSearchingFirmModelCriteria

<div id="div-car-list" class="car_list_box">
    
    @{ Html.RenderPartial("~/Views/Shared/SearchingCriteria.cshtml"); }
    

    @*<div class="car-list-header">
        <h3>@Model.Message</h3>
    </div>*@
    <!-- begin list car -->
    
    <div class="grid-container">
        <div id="gridSearchingCar" class="freegrid"></div>
    </div>
        
</div>

@section Scripts
{    

    @if (ViewBag.SearchingType == "0")    
    {
        <script>
        var criteria = {
            itemsPerPage: 20,
            currentPageIndex: 0,
            firmName: '@Model.FirmName',
            model: '@Model.Model'
        };
        </script>
        
    }    
    else if(ViewBag.SearchingType == "1")
    {
        <script>
        var criteria = {
            itemsPerPage: 20,
            currentPageIndex: 0,
            firmName: '@Model.FirmName',
            model: '@Model.Model'
        };
        </script>
    }
    else if (ViewBag.SearchingType == "2")
    {
        <script>
        var criteria = {
            itemsPerPage: 20,
            currentPageIndex: 0,
            firmName: '@Model.FirmName',
            model: '@Model.Model'
        };
        </script>
    }
    else if (ViewBag.SearchingType == "3")
    {
        <script>
        var criteria = {
            itemsPerPage: 20,
            currentPageIndex: 0,
            firmName: '@Model.FirmName',
            model: '@Model.Model'
        };
        </script>
    }
    
    <script src="~/Content/scripts/SearchingCar.js"></script>

    <script src="~/Content/scripts/SearchingCriteria.js"></script>
}
