<!DOCTYPE htm
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Oto Viet</title>
    @Styles.Render("~/bundles/css")
    
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")

    @RenderSection("Styles", required: false)

</head>

<body>    
    <div id="div-parent">
        <div id="div-header">
            <a id="logo" href="http://xegiadinhviet.com" title="oto, mua ban oto">
                <h1>oto, mua ban oto</h1>
            </a>
            <div id="div-support">
               <div id="div-login" style="width:100%">
                    <ul>
                        <li><a href="/Account/Register/">Đăng ký</a></li>
                        <li><a href="/Account/Login/" onclick="open_dialog('login-dlg','username1');return false;">Đăng nhập</a></li>                        
                        <li class=""><a href="/Home/Guide">Hướng dẫn</a></li>                                                    
                        <li class=""><a href="/Home/Contact">Liên hệ</a></li>                         
                    </ul>                   
                </div>
               <div id="div-search">
                    @{ Html.RenderPartial("~/Views/Shared/Search.cshtml"); }
                </div>
                @if(System.Web.HttpContext.Current.Session["UserId"] !=null)
                { 
                    <div id="div-user">
                        @Html.Partial("_LoginPartial")
                    </div>
                }
            </div>
        </div>
        <div id="div-menu">
            @{ Html.RenderPartial("~/Views/Shared/Menu.cshtml"); }
        </div>
        <div id="div-content">
            <div id="div-left" class="col-sm-2">
                <div id="div-left-searching">
                    @{ Html.RenderPartial("~/Views/Shared/CarList.cshtml"); }
                </div>
                <div id="div-left-advertise">
                    @{ Html.RenderPartial("~/Views/Shared/AdvertiseLeft.cshtml"); }
                </div>                
         
            </div>
            <div id="div-center" class="narrow-div-center">
                @RenderBody()
            </div>
            <div id="div-right">
                @{ Html.RenderPartial("~/Views/Shared/AdvertiseRight.cshtml"); }
                @{ Html.RenderPartial("~/Views/Shared/ShowRoom.cshtml"); }                
            </div>
        </div>
        <div id="div-footer">
            <div class="f-menu">
                <a href="/home/index" class="f-link" title="oto, mua ban oto">Trang chủ</a> <span>|</span>                
                <a href="/home/ActivitiesPolicy" class="f-link">Qui định đăng tin</a> <span>|</span>
                <a href="/home/guide" class="f-link">Trợ giúp</a> <span>|</span>
                <a href="/home/contact" class="f-link">Liên hệ</a>
            </div>
            <div class="f-copyright">
                <div style="float: left; width: 746px;">
                    Xem tốt nhất trên trình duyệt <a rel="nofollow" class="f-copyright" target="_blank" href="http://www.mozilla.com/vi/" title="Tải Mozilla FireFox phiên bản Tiếng Việt về máy tính(miễn phí)"><b>FireFox</b></a> , <a rel="nofollow" class="f-copyright" target="_blank" href="http://www.google.com/chrome?hl=vi" title="Tải Google Chrome phiên bản Tiếng Việt về máy tính(miễn phí)"><b>Chrome</b></a>, <b>Opera</b>, <b>Safari</b> hoặc <b>IE 7</b> trở lên với độ phân giải từ 1024x768 trở lên.<br>
                    Điện thoại: 0909685024 . Email: xegiadinhviet@gmail.com                                 
                    <br /> 
                    <span style="color:red">XEGIADINHVIET.com không bán xe trực tiếp, quý khách mua xe vui lòng liên hệ trực tiếp người đăng tin.<br></span>
                    Copyright © 2016-2017 <a href="http://xegiadinhviet.com" title="oto, mua ban oto, oto nhap khau">xegiadinhviet.com</a>
                </div>
                <div style="float: right; width: 200px;margin-top:3px">
                    @*<a rel="nofollow" href="http://online.gov.vn/HomePage/WebsiteDisplay.aspx?DocId=xxxx" target="_blank"><img src="img/bct.gif" title="xegiadinhviet.com đã đăng ký với Bộ Công Thương" alt=""></a>*@
                </div>
            </div>
        </div>
    </div>
    
    @Scripts.Render("~/bundles/js")

    @RenderSection("Scripts", required: false)

</body>
</html>
