<!DOCTYPE html>
<html>
<head>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-9926099046115554",
            enable_page_level_ads: true
        });
    </script>
    <title>Xe gia đình việt - Miễn phí</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="keywords" content="oto, mua ban oto , mua oto,ban oto,o to,ô tô, ôtô, oto cu, oto da qua su dung, xe hoi, mua ban xe hoi, xe cu, oto nhap khau, xe nhap khau, mua bán ô tô, xe hơi, ô tô nhập khẩu, xe nhập khẩu, ôtô 2018, oto 2018, bán xe, mua xe, thuê xe, thuê ôtô, dang tin oto mien phi, đăng tin bán xe miễn phí, đăng tin mua xe miễn phí, đăng tin thuê xe miễn phí, đăng tin bán ôtô miễn phí, đăng tin mua ôtô miễn phí, đăng tin thuê ôtô miễn phí">
    <meta name="author" content="www.xegiadinhviet.com">
    <meta name="description" content="Xegiadinhviet.com đăng tin MIỄN PHÍ mua bán và thuê ô tô, xe hơi. Website áp dụng trí tuệ nhân tạo vào việc tìm kiếm oto, mua ban oto, oto cu, oto da qua su dung, oto moi, oto nhap khau,mu ban oto, xe nhap khau, oto lap rap trong nuoc , ô tô nhập khẩu, xe nhập khẩu ... ">
    <meta name="revisit-after" content="1 days">
    <meta name="distribution" content="web">
    <meta http-equiv="refresh" content="600">    
    <meta http-equiv="Cache-control" content="public">

    <link rel="icon" type="image/png" href="http://xegiadinhviet.com/Content/Images/common/logo.png">

    @Styles.Render("~/bundles/css")
    
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")

    @RenderSection("Styles", required: false)

</head>

<body>    
    <div id="div-parent">
        <div id="div-header">
            <a id="logo" href="/" title="oto, mua ban oto">                
            </a>
            <a id="logo_text" href="/" title="oto, mua ban oto">                
            </a>
            <div id="div-support">
               <div id="div-login" style="width:100%">
                    <ul>
                        <li><a href="/Account/Register/">Đăng ký</a></li>
                        <li><a href="/Account/Login/" onclick="open_dialog('login-dlg','username1');return false;">Đăng nhập</a></li>                        
                        <li class=""><a href="/Home/Guide">Hướng dẫn</a></li>                                                    
                        <li class=""><a href="/Home/Contact">Liên hệ</a></li>                         
                    </ul>                   
                </div>
               <div id="div-search">
                    @{ Html.RenderPartial("~/Views/Shared/Search.cshtml"); }
                </div>
                @if(System.Web.HttpContext.Current.Session["UserId"] !=null)
                { 
                    <div id="div-user">
                        @Html.Partial("_LoginPartial")
                    </div>
                }
            </div>
        </div>
        <div id="div-menu">
            @{ Html.RenderPartial("~/Views/Shared/Menu.cshtml"); }
        </div>
        <div id="div-content">
            <div id="div-left" class="col-sm-2">
                <div id="div-left-searching">
                    @{ Html.RenderPartial("~/Views/Shared/CarList.cshtml"); }
                </div>
                <div id="div-left-advertise">                    
                    @{ Html.RenderPartial("~/Views/Shared/Slider.cshtml"); }                    
                    @{ Html.RenderPartial("~/Views/Shared/PanelLeft.cshtml"); }
                </div>                
         
            </div>
            <div id="div-center" class="narrow-div-center">
                @RenderBody()
            </div>
            @*<div id="div-right">
                @{ Html.RenderPartial("~/Views/Shared/Slider.cshtml"); }
                @{ Html.RenderPartial("~/Views/Shared/ShowRoom.cshtml"); }
            </div>*@
        </div>
        <div id="div-footer">
           @{ Html.RenderPartial("~/Views/Shared/Footer.cshtml"); }
        </div>
    </div>
    
    @Scripts.Render("~/bundles/js")

    @RenderSection("Scripts", required: false)

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-88594104-1', 'auto');
        ga('create', 'UA-87955531-1', 'auto'); //thaiwhere@gmail.com
        ga('send', 'pageview');

    </script>

    <script>

        $(".nav li").click(function () {
            $('.nav li').removeClass('active');
            $(this).addClass('active');

            var id = $(this).attr("id");
            $.cookie("menuIndex", id, { path: '/' });
        });

        var menuIndex = $.cookie("menuIndex");
        if (typeof (menuIndex) != "undefined") {
            $('.nav li').removeClass('active');
            $("#" + menuIndex).addClass('active');
        }
        else {
            var id = "menu_index";
            $("#" + id).addClass('active');
            $.cookie("menuIndex", id, { path: '/' });
        }
       
    </script>

</body>
</html>
