@model CarSite.Models.LoginViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Đăng nhập";
}

<h2>&nbsp;&nbsp;@ViewBag.Title</h2>
<br />

@section Styles{

    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrapValidator.min.css" rel="stylesheet" />
}

<h4><span style="margin-left:20px;font-style:italic;">Nhập thông tin để đăng tin.</span></h4>

<hr />

<div class="col-md-12">
    <input type="hidden" id="returnURLId" data-value="@ViewBag.ReturnUrl" />
    <form id="loginForm" class="form-horizontal bv-form" method="post" action="" novalidate="novalidate">
        @Html.AntiForgeryToken()
        <fieldset class="col-sm-12">

            <div class="form-group">
                <label for="UserName" class="col-sm-4 control-label">Tên đăng nhập</label>
                <div class="col-sm-7">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                        <input type="text" id="UserName" name="UserName" class="form-control" placeholder="* Nhập Tên đăng nhập" data-bv-field="UserName">
                    </div>
                    <small class="help-block" data-bv-validator="notEmpty" data-bv-for="UserName" data-bv-result="NOT_VALIDATED" style="display: none;">Nhập Tên đăng nhập</small>
                </div>
            </div>

            <div class="form-group">
                <label for="Password" class="col-sm-4 control-label">Mật khẩu</label>
                <div class="col-sm-7">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                        <input type="password" id="Password" name="Password" maxlength="20" class="form-control" placeholder="* Nhập Mật khẩu" data-bv-field="Password">
                    </div>
                    <small class="help-block" data-bv-validator="notEmpty" data-bv-for="Password" data-bv-result="NOT_VALIDATED" style="display: none;">Nhập Mật khẩu</small>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-5 col-md-10">
                    <div class="checkbox">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-4"></div>
                <div class="col-sm-5">
                    <button type="submit" class="btn btn-primary btn-lg">Đăng nhập</button>
                </div>
            </div>

        </fieldset>

        <p>
            @Html.ActionLink("Đăng ký", "Register", new { ReturnUrl = ViewBag.ReturnUrl }) nếu Bạn chưa có tài khoản.
        </p>

    </form>    
</div>
@*<div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>*@

@section Scripts {
    @*<script async="" src="~/Content/scripts/recaptcha/recaptcha__en.js"></script>*@
    <script src="~/Content/scripts/lib/bootstrapValidator.min.js"></script>
    @*<script src="~/Content/scripts/recaptcha/api.js"></script>*@

    <script src="~/Content/scripts/Login.js"></script>    
}