@using CarSite.Models;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Thay đổi Password";
}

<h2>&nbsp;&nbsp;@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-10">
        @{
            if (string.IsNullOrEmpty(ViewBag.HasError))
            {         
                if (!string.IsNullOrEmpty(ViewBag.StatusMessage))
                {
                    <h4><span style="color: blue; margin-left: 20px;">@ViewBag.StatusMessage</span></h4>
                }
                else
                {
                    @Html.Partial("_ChangePasswordPartial")
                }
            }
            else
            {                
                <h4><span style="color: red; margin-left: 20px;">@ViewBag.StatusMessage</span></h4>
                @Html.Partial("_ChangePasswordPartial")
            }
        }
                 
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
